<settings>
    <!-- Général -->
    <category label="Code Principal">
        <setting label="Injecter vos comptes" type="lsep" />
        <setting id="cu" label="[B]Code Unique[/B]" type="text" default="xxxxxx"/>
    </category>

    <category label="Codes Secondaires">
        <setting label="Configuration des comptes" type="lsep" />
        <setting id="numAnotepad0" label="Config HK3" type="text" default="xxxxxx" />
        <setting id="vst" label="Config Torrent Bazoland" type="text" default="xxxxxx" />
        <setting id="dbtd" label="Db Torrent" type="text" default="xxxxxx" />
        <setting id="iptvx1" label="IPTVx1" type="text" default="xxxxxx" />
        <setting id="iptvx2" label="IPTVx2" type="text" default="xxxxxx" />
        <setting id="iptvx3" label="IPTVx3" type="text" default="xxxxxx" />
        <setting id="alldebrid_api_key" label="Clé AllDebbrid" type="text" default="xxxxxx" />
        <setting id="rentry_code" label="Code Rentry" type="text" default="xxxxxx" />
        <setting id="codem3u" label="M3U TV Foxx" type="text" default="xxxxxx" />
        <setting id="codem3u2" label="M3U TV Vavoo" type="text" default="xxxxxx" />
    </category>
    <category label="Profil Bazoland">
        <setting id="pseudo" label="Pseudo" type="text" default="" />
    </category>
</settings>
